<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/style.css">
<img src='static/MusicBox_Banner.png' alt='MusicBox Logo' width=50% height='auto' class="center">
<body>
  <script src="static/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="static/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/d3-tip.min.js"></script>
  <script src='static/dropdown.js'></script>
  
  
  
  
    <form method="POST" autocomplete="off" class="button">
      

<div class="row">
  

  <div class="column left">
    <div style="text-align: right;">
      <h2>Enter Song:</h2>
    </div>
    <div>
      <h2>Adjust song features below:</h2>
    </div>
    
  <div id="div1">
  <h2>danceability</h2>
  <span class="help-tip"><p>Hi</p></span>
  </div>
  
    <div class="rangeslider"> 
      <input formmethod="POST" id="sliderRange" class="myslider"  type="range" name='dance' min="1" max="5" value="3" />
      <p>Value: <span id="demo", class="rangeVal"></span></p> 
    </div>  
  

    <div class="main">
      <h2>energy</h2>
      <span class="help-tip"><p>Hi</p></span>
      </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="energy"/> 
    <p>Value: <span id="demo", class="rangeVal"></span></p>             
  </div> 
  
  <div class="main">
    <h2>key</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="key"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>loudness</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="loudness"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>mode</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="0" max="1" value="1"
                    class="myslider" id="sliderRange" name="mode"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>speech</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="speech"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>acousticness</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="acousticness"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>instrumentalness</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="instrumentalness"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>liveness</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="liveness"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>valence</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="valence"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>

  <div class="main">
    <h2>tempo</h2>
    <span class="help-tip"><p>Hi</p></span>
    </div>
  <div class="rangeslider"> 
    <input type="range" min="1" max="5" value="3"
                    class="myslider" id="sliderRange" name="tempo"> 
    <p>Value: <span id="demo" class="rangeVal"></span></p> 
  </div>
  
</div>
<div class="column middle">
  <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10'>
    <div class='input-group'>
        <input id="autocomplete" class='form-control' type='text' name='songSearch'
               placeholder='Enter song...'/>
        

    </div>
</div>
  <div id="graph">
    <script src = "static/mastermap.js">
    </script>
  </div>
  <div>
    <p><strong>Why aren’t my recommendations next to the song I picked?</strong></p>
      <p style="margin-right:40px">The data points shown here are the 250 closest songs to your seed songs based on your inputs. We’re sure you might be wondering why your song recommendations aren’t right next to the song you picked. The MusicBox algorithm takes into account many different features and unfortunately we can’t yet build a graph in 12-dimensional space. The graph you see takes all 12 musical features and reduces them down to 2-dimensional space; while the songs may look farther apart, they are definitely the right recommendations!</p>
  </div>
</div>


<div class="column right">
  <div>
    <input type='submit' id="button" class="button" onclick="updateGraph();"/>
  </form>
    <form action= {{ url_for('index') }} method='GET' class="button">
      <input type='submit' value="REFRESH" class="button" onclick="remove()"/>
      </form> 
  </div>


  

<div>
  <h2>Recommended Songs:</h2>
</div>

{% for iframe in iframes %}
    
        <div class="spotify">
         <iframe id="iframe{{loop.index}}" src="{{iframe}}" frameborder="0" allowtransparency="true" allow="encrypted-media" width="500" height="100"></iframe>
        </div>
    {% endfor %}
  </div>
</div>
{{h}}

</body>